<!doctype html>
<title>Skynet Test</title>
{% if request.headers['Eve-Trusted'] == 'No' %}
  <body onload="CCPEVE.requestTrust('http://feabell.com:5000')">
{% else %}
  <h1>Hello {{ request.headers['Eve-charname'] }}! You were on {{ name }}'s fleet.</h1>
  <h3>Please leave some feedback</h3>
  <form action="/" method="post">
	<input type="hidden" name="Eve-Charname" value="{{ request.headers['Eve-charname'] }}">
	<input type="hidden" name="Eve-Shiptypename" value="{{ request.headers['Eve-Shiptypename'] }}">
	<input type="hidden" name="Eve-Charid" value="{{ request.headers['Eve-charid'] }}">
	<input type="hidden" name="Eve-charname" value="{{ request.headers['Eve-charname'] }}">
	<textarea rows="10" cols="100">Type your feedback here</textarea>
	<br><input type="submit" value="submit">
  </form>
{% endif %}
